// Color
$color-black: #0e171c;
$color-dark-blue: #01194f;
$color-mid-blue: #0758b7;
$color-soft-blue: #039cfd;
$color-white: #ffffff; 
// Font Variables
$roboto-slab: 'Roboto Slab', serif;  
$open-sans: 'Open Sans', sans-serif;
$font-size: calc(.020 * (100vw)); //16px;
$font-size-small: .9em;
// yorum satırı