// pages/blog

#blog {
    h1 {
        font-size: 50px;
        margin-top: 39px;
        margin-bottom: 15px;
        letter-spacing: -1.4px;
        line-height: 1.2;
        font-weight: 700;
    }

    h2 {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 30px;
        letter-spacing: -.8px;
        line-height: 1.2;
        font-weight: 700;

    }

    h3 {
        font-size: 30px;
        margin-bottom: 30px;
        letter-spacing: -.75px;
        line-height: 1.25;
        font-weight: 300;

    }

    p {
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 1.65;
    }
}

