// pages/category
#Category {
    color: $color-black;

    & .category {
        background-color: $color-mid-blue;
        
        & a {
            color: $color-white;
        }

        & a:hover {
            color: $color-soft-blue;
            text-decoration: none;
        }

        button.navbar-toggler{
            columns: $color-white;
        }
    }

    & .content {

        & .content-header {
            border: 1px solid black;

        }

        & .img-container {
            height: 30vh !important;            
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        & .img-container img {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
        }

        // & .swiper-pagination{
            
        // }

        & a{
            color: $color-black;
            text-decoration: none;
            height: 177px;
            overflow: hidden;
        }

        & a:hover{
            color: $color-soft-blue;
        }
    }
}


/*
html body section#Category div.container div.row div.col div.category.mt-5.rounded nav.navbar.navbar-expand-lg button.navbar-toggler
*/