
#Showcase {
    height: calc(100vh - 0rem);
    background-color: $color-dark-blue;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    position: relative;

    & .swiper-container {
        width: 100%;
        height: 100%;

        & .swiper-wrapper {

            & .swiper-slide{
                & .swiper-content{
                    img{
                        min-width: 100%;
                        min-height: 100%;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                }
            }
        }
    }

    & .container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 999;

        & .content {
            font-size: 1.25rem;
            font-weight: 300;
            background-color: rgba(0, 0, 0, 0.2);

            @include mq("portrait"){

            }

            & .content-header {
                letter-spacing: 0.16rem;
                color: $color-white;
                
                @include mq("portrait"){
                    font-size:2.5rem;                   
                }

            }

            & .content-links {
                & a {
                    color: $color-soft-blue;

                    &:hover {
                        color: $color-mid-blue;
                    }
                }
            }
        }

    }
}

// @include mq("portrait") {

//     $font-size: 25px;

//     .content-header {
//         color: yellow !important;
//     }
// }